.cpgi-settings-container {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.cpgi-settings-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cpgi-settings-container form {
    max-width: 600px;
}
